/* This sets the padding, margin and box property for the whole page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid darkred; */
}

/* This set the Roboto font for all elements */
body {
    font-family: "Roboto", sans-serif;
}

/* Part-1 with black background */
.page-1 {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: #1F2937;
    color: #F9FAF8;
}

/* positions our header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 300px;
}

.logo {
    font-size: 24px;
    font-style: "Roboto",sans-serif;
    font-weight: bold;
}

.right-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Hero content Styling */
.hero-section {
    display: flex;
    justify-content: center;
    gap: 55px;
    padding: 10px 300px 100px;
}

/* styles content of hero-section */
.content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero-sec-text {
    font-size: 18px;
    color: #E5E7EB;
}

/* Style our hashira image */
.main-image img {
    flex-grow: 1;
    height: 248px;
    /* height: 300px; */
    width: 800px;
    object-fit: cover;
}

/* Styling our signup Button in hero section */
.button-1 button {
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}



/* Section-2 Images section styling begins after this */

.page-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 300px 100px;
}

.heading {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.chain {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    width: 1000px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.image {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 12px;
}




/* Section-3 of our web page styling begins */
.page-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #E5E7EB;
    padding: 150px 470px 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 50;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bolder;
}


/* Section-4 Call to action */
.page-4 {
    display: flex;
    justify-content: center;
    padding: 100px 300px;
}

.container {
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 30px 90px;
}

.call-head {
    font-size: 24px;
    font-weight: bold;
}

.button-2 button {
    color: white;
    font-weight: bold;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px 30px;
}

.footer {
    display: flex;
    color: white;
    background-color: #1F2937;
    justify-content: center;
    padding: 30px 0px;
}
