* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.right-links {
    display: flex;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}